*{
    margin: 0%;
}
.flex-container{
    display: flex;
    height: 40px;
}
.left-container{
    flex: 30%;
    background-color: palevioletred;
    
}
.list1{
    list-style-type: none;
    display: inline;
    margin:20px;
}
.right-container{
    flex: 70%;
    background-color: pink;
    
}
.list2{
    list-style-type: none;
    display: inline;
    margin: 20px;
}
.right-container ul{
    margin-top: 10px;
    margin-left: 30px;
    text-align: right;
}
.flex-box{
    display: flex;
    height: 80px;
    
}
.box1{
    flex: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: pink;
    text-align: center;
    padding-top: 10px;

}
.box2{
    flex: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: palevioletred;
    
}
.list{
    list-style-type: none;
    word-spacing: 30px;
    text-align: center;
    padding-top: 20px;
    

}
.list li {
    display: inline;
    margin: 20px;
    font-weight: 200;


    
    
    
    
}